.header{
    grid-area: h;
    background : linear-gradient(to bottom, #848484, #3d3d3d);
    padding: 20px;
    font-family: "Work Sans";
}

.logo{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.loginBlock{
    color: white;
    float: right;
    text-decoration: none;
}
