.header{
    grid-area: h;
    background : linear-gradient(to bottom, #848484, #3d3d3d);
    padding: 20px;
}

.logo{
    text-decoration: none;
    font-family: "Fira Sans";
    color : lightyellow;
}
