.app-wrapper{
  display: grid;
  grid-template-areas:
          "h h"
          "n c";
  grid-template-rows: 60px 100%;
  grid-template-columns: 2fr 10fr;
  background-color: green;
  width: 100%;
  margin: 0 auto;
}

.app-wrapper-content{
  grid-area: c;
  background-color: #bbbbbb;
  padding: 10px;
}